<div id="page_options_toolbar" class="options_toolbar_element autohide" style="display: none;">
    <div class="menu_wrapper">
        <div id="menu_background" class="menu_option"></div>
        <div id="menu_fonts" class="menu_option"></div>
        <div id="menu_seo" class="menu_option"></div>
        <div id="menu_conversions" class="menu_option"></div>
        <div id="menu_analytics" class="menu_option" style="background-position: 50% 100%;"></div>
        <div id="menu_html-css" class="menu_option"></div>
        <div id="menu_page-history" class="menu_option"></div>
        <div id="add_new_elements" class="menu_option" >Add New Elements</div>
    </div>
</div>

<div id="elements_options_toolbar" class="options_toolbar_element autohide" style="display: none;">
    <div class="menu_wrapper">
        <div class="scrollablemenu ps-main ps-container" style=""><div class="ps-content" style="width: 1190px;">
            <div id="menu_element_headline" class="menu_option" style=""></div>
            <div id="menu_element_text" class="menu_option" style=""></div>
            <div id="menu_element_image" class="menu_option" style=""></div>
            <div id="menu_element_video" class="menu_option" style=""></div>
            <div id="menu_element_button" class="menu_option" style=""></div>
            <div id="menu_element_form" class="menu_option" style=""></div>
            <div id="menu_element_shapes" class="menu_option" style=""></div>
            <div id="menu_element_map" class="menu_option" style=""></div>
            <div id="menu_element_social" class="menu_option" style=""></div>
            <div id="menu_element_html" class="menu_option" style=""></div>

            <div class="ps-scrollbar"></div></div><div class="ps-scrollbar-x" style="left: 0px; bottom: 1px; width: 1154px;"></div><div class="ps-scrollbar-y" style="top: 0px; right: 3px; height: 0px;"></div></div>
    </div>
</div>
