<div class="signUp">
    <form class="signup-form">
        <h2>Sign Up</h2>
        <div class="error" style="display:none"></div>
        <input type="text" id="FirstName" placeholder="First Name" /> <br/>
        <input type="text" id="LastName" placeholder="Last Name" /> <br/>
        <input type="text" id="Email" placeholder="Email Id" /> <br/>
        <input type="text" id="PhoneNo" placeholder="Mobile Name" /> <br/>
        <input type="password" id="Password" placeholder="Create a Password" /> <br/>
        <button>Sign Up</button>
    </form>
</div>